{% load static %}
<section class="py-20">
    <div class="container">
        <div class="max-w-xl mx-auto">
            <div class="text-center pb-10 border-bottom">
                <a class="d-inline-block mb-10 navbar-brand" href="#">
                    <img src="{% static 'cronos-assets/logos/cronos-logo.svg' %}" alt="" width="132">
                </a>
                <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-10">
                    <li class="mb-5 mb-lg-0 me-6 me-lg-12"><a class="small link-dark text-decoration-none fw-bold"
                                                              href="#">About</a></li>
                    <li class="mb-5 mb-lg-0 me-6 me-lg-12"><a class="small link-dark text-decoration-none fw-bold"
                                                              href="#">Company</a></li>
                    <li class="mb-5 mb-lg-0 me-6 me-lg-12"><a class="small link-dark text-decoration-none fw-bold"
                                                              href="#">Services</a></li>
                    <li><a class="small link-dark text-decoration-none fw-bold" href="#">Testimonials</a></li>
                </ul>
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <a class="text-decoration-none me-10" href="#">
                        <img src="{% static 'cronos-assets/logos/brands/facebook.svg' %}" alt="">
                    </a>
                    <a class="text-decoration-none me-10" href="#">
                        <img src="{% static 'cronos-assets/logos/brands/twitter.svg' %}" alt="">
                    </a>
                    <a class="text-decoration-none me-10" href="#">
                        <img src="{% static 'cronos-assets/logos/brands/Instagram.svg' %}" alt="">
                    </a>
                    <a class="text-decoration-none me-10" href="#">
                        <img src="{% static 'cronos-assets/logos/brands/github.svg' %}" alt="">
                    </a>
                    <a class="text-decoration-none" href="#">
                        <img src="{% static 'cronos-assets/logos/brands/LinkedIn.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <p class="pt-10 small text-muted text-center">All rights reserved © Cronos 2021</p>
        </div>
    </div>
</section>