{% load static %}
<section class="position-relative pb-20 bg-primary-light overflow-hidden">
    <img class="d-none d-lg-block position-absolute end-0 top-0" style="object-fit: cover;"
         src="{% static 'cronos-assets/elements/sign-background-light.svg' %}" alt="">
    <div class="d-none d-lg-block position-absolute top-0 start-0 bottom-0 col-3 col-xl-4 bg-white"></div>
    <nav class="navbar navbar-expand-lg navbar-light pb-lg-20">
        <div class="container">
            <a class="navbar-brand" href="#"> <img src="{% static 'cronos-assets/logos/cronos-logo.svg' %}" alt="" width="132"> </a>
            <button class="btn ms-auto p-0 d-lg-none navbar-burger">
                <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z"
                          fill="#006251"></path>
                </svg>
            </button>
            <ul class="d-none d-lg-flex navbar-nav ms-auto mb-2 mb-lg-0 me-10 me-lg-20">
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
            </ul>
            <div class="d-none d-lg-block"><a class="btn btn-primary" href="#">Sign Up</a></div>
        </div>
    </nav>
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg-5 mb-8 mb-lg-0"><img class="img-fluid ms-auto"
                                                           src="{% static 'cronos-assets/images/women-photo.png' %}" alt=""></div>
            <div class="col-12 col-lg-7">
                <div class="mw-lg-md ms-lg-16 mt-lg-6 mt-xl-12"><h2 class="mb-5 text-primary">Take care of your
                    performance every day.</h2>
                    <p class="lead text-muted lh-lg mb-6">Build a well-presented brand that everyone will love. Take
                        care to develop resources continually and integrity them with previous projects.</p>
                    <div class="mb-16 mb-lg-24"><a
                            class="btn btn-primary d-block d-md-inline-block mb-2 mb-md-0 mb-lg-0 me-md-4" href="#">Track
                        your performance</a><a class="btn btn-dark d-block d-md-inline-block" href="#">Learn More</a>
                    </div>
                </div>
                <div class="ms-lg-16">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0"><img class="img-fluid"
                                                                                src="{% static 'cronos-assets/logos/brands/slack-color.svg' %}"
                                                                                alt="" style="height: 24px"></div>
                        <div class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0"><img class="img-fluid"
                                                                                src="{% static 'cronos-assets/logos/brands/dropbox-color.svg' %}"
                                                                                alt="" style="height: 24px"></div>
                        <div class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0"><img class="img-fluid"
                                                                                src="{% static 'cronos-assets/logos/brands/spotify-color.svg' %}"
                                                                                alt="" style="height: 24px"></div>
                        <div class="col-6 col-md-4 col-lg-2"><img class="img-fluid"
                                                                  src="{% static 'cronos-assets/logos/brands/stripe-color.svg' %}"
                                                                  alt="" style="height: 24px"></div>
                        <div class="col-6 col-md-4 col-lg-2"><img class="img-fluid"
                                                                  src="{% static 'cronos-assets/logos/brands/netflix-color.svg' %}"
                                                                  alt="" style="height: 24px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-sm" style="z-index: 9999;">
        <div class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-primary" style="opacity: 90%;"></div>
        <nav class="position-relative h-100 w-100 d-flex flex-column py-6 px-6 navbar-light bg-white overflow-auto">
            <div class="d-flex align-items-center mb-10"><a class="me-auto navbar-brand" href="#"> <img
                    src="{% static 'cronos-assets/logos/cronos-logo.svg' %}" alt="" width="132"> </a>
                <button class="navbar-close btn-close" type="button" aria-label="Close"></button>
            </div>
            <div>
                <ul class="nav flex-column">
                    <li class="nav-item mb-4"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item mb-4"><a class="nav-link" href="#">Company</a></li>
                    <li class="nav-item mb-4"><a class="nav-link" href="#">Services</a></li>
                </ul>
            </div>
            <div class="mt-auto">
                <div class="py-6"><a class="w-100 btn btn-primary mb-2" href="#">Sign In</a><a
                        class="w-100 btn btn-secondary" href="#">Sign Up</a></div>
                <p class="mb-4 small text-center text-muted">© 2021 All rights reserved.</p></div>
        </nav>
    </div>
</section>
